@import 'reset';
@import 'formInput';
@import 'formLabel';
@import 'formTextArea';
@import 'selectDropdown';
@import 'datePicker';
@import 'fixedActionButton';
@import 'formSwitch';
@import 'filter-iconMaterialize';
@import 'authForm';
@import 'global';
@import 'loadingComponent';
@import 'modalContent';
@import 'formCheckbox';
@import 'materialize';
@import 'authFormDriver';
@import 'notification';
@import 'renderField';
@import 'tabs';
@import 'modal';
@import 'customDropdown';
@import 'profileButton';
@import 'authBaseLogin';

.text-help {
  color: #d7d7d7;
  background: #cc284d;
  text-align: center;
  border-radius: 5px;
  font-size: 0.9rem;
}

.btnWithIconFlex {
  display: flex;
}

.tempHideThis {
  @media only screen and (max-width: 550px) {
    z-index: -1;
  }
}
