label {
  left: 0.75rem !important;
  color: #bec1cd !important;
  letter-spacing: 0.5px !important;
  // font-size: 1rem !important;
  margin-bottom: 1rem;
  display: block;
  &.noMarginBottom {
    margin-bottom: 0;
  }
  &.active {
    // font-size: 1rem !important;
  }
  &.active.fontLarger {
    font-size: 1rem !important;
  }
  &.invoice-notes {
    color: orange !important;
    &.active {
      font-size: 1rem !important;
    }
  }
  // &.themeLight {
  //   color: red !important;
  // }
}
.label-group {
  display: flex;
  align-items: flex-end;
  align-items: center;
  margin-bottom: 1rem;
  &__label {
    margin-bottom: 0 !important;
  }
  &__addItemIcon {
    margin-left: 2rem;
    line-height: 22px;
    height: 22px;
    padding: 0 11px;
    z-index: 0;
    margin: 0.5rem 0;
    @media only screen and (max-width: 1000px) {
      transform: translateX(60%) !important;
      top: -10px;
      display: flex;
      align-items: center;
    }
    &--displayIcon {
      padding: 0 8px;
      margin: 0 1rem;
      width: 27px;
    }
    &--displayNone {
      display: none;
    }
  }
  &__materializeIcon {
    font-size: 0.8rem !important;
  }
}
