.react-tabs {
  -webkit-tap-highlight-color: transparent;
  background: #0c1220;

  padding-bottom: 2rem;
  &__tab-list {
    // border-bottom: 1px solid #aaa;
    // margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    letter-spacing: 1px;
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 18px 25px;
    cursor: pointer;
    color: #c2c5d4;
    @media only screen and (max-width: $breakpoint-mobile) {
      font-size: 0.7rem;
      padding: 15px 8px;
    }

    &--selected {
      background: #1f2740;
      border-color: #1e2740;
      color: #fff;
      border-radius: 5px 5px 0 0;
      z-index: 1;
    }

    &--disabled {
      color: GrayText;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: '';
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
  &--customWidth {
    max-width: 1000px;
    margin: 0 auto;
  }
}
