@layout('layouts/driver')


@section('title')
7 Days Motor Lines
@endsection

@section('current-class')
welcome-page
@endsection


@section('content')
<div class="driverLandingPage">
  <div class="driverBox">
    <a class="driverBox__link driverBox__link--top"href="/driver/active">Active Load</a><
    <a class="driverBox__link" href="/driver/delivered">Delivered Loads</a>
  </div>
</div>

@endsection
