.topNavBar {
  margin-bottom: 0.5rem;

  &__nav {
    background: #0c1220;
    padding: 0 1rem;
    height: 80px;
    &--height100 {
      height: 110px;
      margin-bottom: 1.5rem;
    }
    &--edit {
      background: #b7231b;
      background: linear-gradient(135deg, #ed213a 0%, #93291e);
    }
  }

  &__logout {
    background: #a00d42;
  }
  &__link {
    color: black !important;
    &:hover {
      color: white !important;
    }
  }
  &__backLinkContainer {
    margin: 1rem auto;
  }
  &__backLink {
    padding: 5px 40px;
    background: #425fbb;
    border-radius: 5px;

    box-shadow: $box-shadow;
  }

  &__sectionTitle {
    font-size: 1.4rem;
    text-transform: capitalize;
    display: block;

    @media only screen and (max-width: $breakpoint-tablet) {
      font-size: 1rem;
    }
  }
  &__accountIcon {
    // position: relative;
    position: absolute;
    right: 0;
    top: 43px;
    // top: 20px;
    z-index: 1000;
  }

  &__icon {
    height: 64px !important;
    line-height: 64px !important;
    position: relative;
    top: -15px;
    color: white;
    font-size: 2rem !important;
    @media only screen and (max-width: $breakpoint-tablet) {
      top: -10px;
    }
  }
}
