<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>
  <body style = "background:#ffffff">
    <!-- start of html email -->
  <table  width ="100%" border ="0" cellspacing ="0" cellpadding="0" style="background:#f3f3f3; padding:20px 0;">
    <tr>
      <td>

  <table class="container" width ="600" align = "center" cellpadding="0" cellspacing ="0" border ="0">
    <tr style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color:white;text-align:center;background: #9392ee">
      <td>
        <h4 style="font-size:15px; font-weight:300; line-height:1;">Load Credit Purchase : ${{creditsBought}}</h4>
      </td>
    </tr>

    <tr>
    <td>
      <table class="header-left" width ="100%" align = "center" cellpadding="0" cellspacing ="0" border ="0" style ="background:#fff;padding:15px 15px 70px 15px;">


                <tr>
                  <td style ="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; color:black;">
                    <h2 style ="font-size:30px; font-weight:300; line-height:1; margin:0; padding:25px 0 10px;text-transform:capitalize">{{ first_name }}</h2>
                    <h1 style ="font-size:80px; margin:0; line-height:1; padding:0 0 10px; ">Oops !</h1>

                    <p style = "font-size:14px; margin:0; line-height:1.5; font-style:italic; padding:20px 0 0 0; ">You purchased ${{creditsBought}}, but it did not update your account. <br><br>Support has already been notified of this issue, and will credit you within 24 hours !</p>


                  </td>
                </tr>
                <tr>
                  <td style="padding-top:15px;">
                    <h4 class="ghost-btn" style="font-size:16px;  color:#9392ee; text-transform:capitalize;margin:0 0 5px 0; ">Simple Trucker</h4>
                    <h4 class="ghost-btn" style="font-size:14px;  color:black; text-transform:uppercase;margin:0 0 5px 0;">Support Team</h4>
                    <!-- <h5 class="ghost-btn" style="font-size:12px;   color:black; margin:0 0 5px 0;">support@simpletrucker.com</h5> -->
                    <a href="https://simpletrucker.com" class="ghost-btn" style="font-size:12px; text-decoration:none; color:black; text-transform:uppercase;text-align:center; display:block; padding-top:25px;">Simpletrucker.com</a>
                  </td>
                </tr>
        </table>


    </td>
    </tr>


  </table>
</td>
</tr>
</table>
<!-- end of html email -->
</body>
</html>
