<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="/css/main.css"> -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>
  <body style = "background:#ffffff">
    <!-- start of html email -->
  <table  width ="100%" border ="0" cellspacing ="0" cellpadding="0" style="background:#f3f3f3; ">
    <tr>
      <td>

  <table class="container" width ="600" align = "center" cellpadding="0" cellspacing ="0" border ="0" style="background:#ffffff;padding:25px;border-top: 2px solid #9392ee;border-bottom: 2px solid #9392ee;">
    <tr style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color:black;text-align:left;">
      <td>
        <h4 style="font-size:35px; font-weight:600; line-height:1;letter-spacing:1px;">Welcome</h4>
      </td>
    </tr>
    <tr style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color:black;text-align:left;">
      <td>
        <h3 style="font-weight:400; line-height:1;letter-spacing:1px;text-transform:capitalize;">Hi {{ first_name }},</h3>
      </td>
    </tr>
    <tr style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color:black;text-align:left;">
      <td>
        <h3 style="font-weight:400; line-height:1.4;letter-spacing:1px;">Your 30-Day Free Trial has begun.<br>Enjoy !</h3>
      </td>
    </tr>

    <tr style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;color:black;text-align:center;">
      <td>
      <a href ="{{'https://app.simpletrucker.com/login'}}" style="font-size:20px;display:inline-block;background:#92eea2;text-decoration:none;color:white;padding:15px 75px;margin:25px 0;">Login</a>
      </td>
    </tr>


    <tr>
      <td style="padding-top:55px;">
        <h4 class="ghost-btn" style="font-size:16px;  color:#9392ee; text-transform:capitalize;margin:0 0 5px 0; ">Simple Trucker</h4>
        <h4 class="ghost-btn" style="font-size:14px;  color:black; text-transform:uppercase;margin:0 0 5px 0;">Support Team</h4>
        <!-- <h5 class="ghost-btn" style="font-size:12px;   color:black; margin:0 0 5px 0;">support@simpletrucker.com</h5> -->
        <a href="https://simpletrucker.com" class="ghost-btn" style="font-size:12px;  color:black; text-align:center; display:block; padding-top:25px;">SimpleTrucker.com</a>
      </td>
    </tr>






  </table>
</td>
</tr>
</table>
<!-- end of html email -->
</body>
</html>
