.edit-button {
  background: #b7231b;
  background: linear-gradient(135deg, #ed213a 0%, #93291e);
  padding: 20px 0;
  font-weight: 500;
  margin: 0 auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  &__title {
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: center;
    color: white;
  }
  &__button {
    margin-left: 1rem;
  }
}
